@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.nav {
    z-index: 3;
    padding: 0px 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100vw;
    background-color: #ffffffe7;
    backdrop-filter: blur(4px);
    position: fixed;
    font-size: 20px;
    font-weight: 700;
    user-select: none;
}
.logo{ 
    width: 100px;
    cursor: pointer;
    padding: 20px
}
.logo img {
    width: 100px;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav-link {
    color: rgb(77, 86, 92);
}
.nav-link:hover {
    cursor: pointer;
    color: black
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
    padding: 0px 20vw;
    height: calc(100vh - 60px);
    width: 100vw;
    background: #00000056;
    background-image: url('./media/background.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.hero-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

.hero-title {
    color: white;
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero-title p span {
    color: #ffc832
}
.hero-subtitle {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-bottom: 64px;
}
.hero-cta {
    min-height: 100px;
    height: 12vh;
    padding: 0px 2.4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffc832;
    font-size: 1.4vw;
    cursor: pointer;
    font-weight: 700;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: fit-content;
    margin-top: 10px;
    border-radius: 4px;
}
.hero-cta:hover {
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 20px 40px 0px #ffc83255;
    
}
.informative-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20vw;
    width: 100vw;
    height: 60px;
    align-items: center;
    background-color:  #ffc832;
    font-weight: 700;
}
.left-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.right-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.right-info img {
    height: 20px;
    cursor: pointer;
}
.gallery-section {
    display: flex;
    flex-direction: column;
    padding: 60px 20vw;
    padding-top: 10vh;
}
.gallery-info {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
}
.gallery-subtitle {
    margin-top: 16px;
    color: #444;
    font-size: 14px;
}
.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}
.gallery img {
    object-fit: cover;
    width: 18vw;
    height: 18vw;
}

.services-section {
    display: flex;
    flex-direction: column;
    padding: 60px 20vw;
    padding-top: 10vh;
    background-color: #f8f8f8;
}
.services-info {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
}
.services-subtitle {
    margin-top: 16px;
    color: #444;
    font-size: 14px;
}
.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.services-card {
    width: 30%;
    height: 60vh;
    border-radius: 16px;
    background:  #ffc832;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: 10px;
    padding: calc(1vw + 16px);
    padding-bottom: calc(3vw + 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services-card:hover {
    box-shadow: 0px 20px 40px 0px #ffc83255;
    margin-bottom: 10px;
    margin-top: 0px;
}
.services-card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 16px;
    width: 80%;
}
.services-card-description {
    font-size: 16px;
    font-weight: 700;
    color: #000000aa;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: 60px 20vw;
    padding-top: 10vh;
}
.about-info {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
    width: 80%;
}
.about-subtitle {
    margin-top: 16px;
    color: #444;
    font-size: 14px;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-pad {
    width: 30vw;
    position: relative;
    height: 35vw;
    background:  #ffc832;
    padding: 2vw;
}
.about-pad p{
    font-size: 24px;
    font-weight: 300;
    color: #424242;
    width: 70%;
}
.about-pad p span {
    font-weight: 700;
    color: black;
}
.about-pad img {
    width: 24vw;
    height: 24vw;
    object-fit: cover;
    position: absolute;
    bottom: 10%;
    right: -10%
}
.about-info-showcase {
    display: flex;
    flex-direction: row;
}
.about-description {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #212222;
    gap: 40px;
    margin-right: 4vw;
}
.about-numbers-item p {
    font-size: 14px;
    font-weight: 300;
}
.about-numbers {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 700;
    gap: 40px;
    color:  #ffc832;
}

.contact-section {
    display: flex;
    flex-direction: column;
    padding: 60px 20vw;
    padding-top: 10vh;
    background-color: #f8f8f8;
}
.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
}
.contact-subtitle {
    margin-top: 16px;
    color: #444;
    font-size: 14px;
}
.wpp-button {
    padding: 32px;
    background-color: #e5e5e5;
    gap: 16px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

@media (max-width: 1440px) {
    .nav, .hero, .informative-banner, .gallery-section, .services-section, .about-section, .contact-section {
        padding-left: 14vw;
        padding-right: 14vw;
    }
    .gallery img {
        height: 22vw;
        width: 22vw;
    }
    .about-pad img {
        bottom: 6%
    }
}

@media (orientation: portrait) {
    .nav-buttons, .hero-image {
        display: none;
    }
    .nav, .hero, .informative-banner, .gallery-section, .services-section, .about-section, .contact-section {
        padding-left: 16px;
        padding-right: 16px;
    }
    .nav{
        min-height: 60px;
    }
    .logo {
        font-size: 16px;
    }
    .logo img {
        width: 60px;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 16vh;
    }
    .hero-title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .hero-subtitle {
        font-size: 14px;
        width: 80%;
        margin-bottom: 40px;
    }
    .hero-cta {
        font-size: 20px;
        height: initial;
        min-height: initial;
        padding: 26px 44px;
    }
    .informative-banner {
        font-size: 12px;
        justify-content: space-between;
    }
    .left-info {
        width: 100%;
        justify-content: space-between;
    }
    .right-info {
        display: none;
    }
    .gallery-section, .services-section {
        padding-bottom: 24px;
        padding-top: 30px
    }
    .gallery-info, .services-info {
        font-size: 34px;
        margin-bottom: 40px;
    }
    .gallery-subtitle, .services-subtitle {
        font-size: 14px;
        margin-top: 8px;
        color:rgb(47, 52, 56);
        font-weight: 400;
    }
    .gallery {
        justify-content: space-between;
        gap: calc((100vw - 32px)*0.00333);
        
    }
    .gallery img {
        width: calc((100vw - 32px)*0.33);
        height: calc((100vw - 32px)*0.33);
    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-card {
        width: 80vw;
    }
    .about-info {
        font-size: 34px;
        width: unset;
    }
    .about {
        flex-direction: column;
        gap: 48px;
    }
    .about-pad {
        padding: 16px;
        width: 80%;
        height:60vh
    }
    .about-pad p {
        font-size: 20px;
        width: 100%;
    }
    .about-info-showcase {
        justify-content: space-between;
    }
    .about-pad img {
        width: 65vw;
        height: 65vw;
    }
    .about-description {
        font-size: 30px;
        gap: 30px;
    }
    .about-numbers-item p {
        font-size: 12px;
    }
    .about-numbers {
        font-size: 42px;
        gap: 30px;
    }
}